@model vidly.Models.Customer

@{
    ViewBag.Title = Model.name + " Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h2>@Model.name</h2>
    <ul>
        <li>Membership Type : @Model.MembershipType.Name</li>
        @if (Model.BirthDate != null) {
        <li>Birth Date : @Model.BirthDate</li>
        }
    </ul>
    
</div>
